<div class="sm-container m-y-10">
    <h1>Entrar al sitio</h1>
    
    <div class="form-login">
        <div class="field">
            <label for="">Usuario</label>
            <input type="text" >
        </div>
        <div class="field">
            <label for="">Contraseña</label>
            <input type="password" >
        </div>
        <button class="m-r-1">Entrar?</button>
        <button class="secondary">Registrarse?</button>

    </div>
    <hr>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus nisi ut, nulla expedita cumque iste inventore voluptatum architecto laborum commodi repudiandae nobis deserunt tenetur? Doloremque voluptates dolores id ut? Nihil.</p>
</div>
