<div class="nav-page">
  <div class="logo" routerLink="/">geoserver-postgis companion</div>
  
  <div class="nav">
    
    <div class="logout" *ngIf="sessionExists"> <button class="secondary" (click)="logout()">salir</button></div>
    <div class="login" *ngIf="!sessionExists"> <button class="secondary">Ingresar</button></div>
    <div class="signup" *ngIf="!sessionExists"> <button class="secondary">Registrarse</button></div>
  </div>
  
</div>

<router-outlet></router-outlet>


<div class="footer-page"> Made by @migueldnt <a routerLink="/guia-estilo">guia de estilos</a> en dev</div>