


.header-page{
    width: 100%;
    background-color: var( --accent-bg-color);
    color: var(--accent-color);
    padding: 10px 30px;
    display: flex;
    box-sizing: border-box;

    .logo{
        font-family: 'Sacramento', cursive;
        font-size: 40px;
        font-weight: 400;
    }
}


.footer-page{
    background-color: var( --accent-bg-color);
    width: 100%;
    color: var(--accent-color);
    padding: 10px 30px;
    //position: fixed;
    bottom: 0;
    box-sizing: border-box;
}

